.header {
  display: grid;
  position: relative;
  height: 100vh;
  padding-bottom: 0;
  min-height: 668px;
}

.corners::before, .corners::after {
  content: "";
  width: 25px;
  height: 25px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--color-button);
  inset: 10px 10px auto auto;
  position: absolute;
}

.corners::after {
  border-width: 0px 0px 1px 1px;
  inset:  auto auto 10px 10px;
}

.rec {
  display: flex;
  position: absolute;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  inset: 10px 10px auto auto;
  letter-spacing: 0%;
  color: var(--color);
  align-items: center;
  margin-right: 9px;
  gap: 10px;
  opacity: var(--rec);
}

.rec::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color);
  box-shadow: 0px 0px 4px 2px var(--color);
  opacity: var(--rec);
}

.button {
  width: 70px;
  height: 26px;
  font-family: 'IBM Plex Mono', sans-serif;
  padding-right: 13px;
  padding-left: 13px;
  background: none;
  text-transform: lowercase;
  border-color: var(--color-button);
  color: var(--color-button);
  border-width: 0 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-left: calc(100% - 70px);
  margin-top: 3%;
}

.button:focus-visible {
  outline: none;
  text-decoration: none;
  border-bottom: 1px var(--color-button) solid;
}

.header__theme-menu {
  margin-top: 52px;
}

.header__theme-menu-button_active {
  border-width: 1px 1px 1px 1px;
  border-color: var(--cr-active-button);
  pointer-events: none;
}

.button:hover {
  border: 1px solid var(--hover-button);
}

.header__title, .footer__title {
  text-shadow: 4px 4px 0 var(--color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  letter-spacing: 0%;
  color: var(--text-color-title);
  margin-top: 68px;
}

.title-decor {
  background-color: var(--color);
} 

main {
  background-color: var(--text-backcolor-head);
}

.page {
  /* padding: 10px; */
  background-image: var(--image);
  align-self: center;
  background-attachment: fixed;
  background-color: var(--text-backcolor-head);
  background-position: center;
  background-size: cover;
}

.header, main, .footer {
  padding: 10px;
}


.footer {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  margin-top: 31px;
  min-height: 668px;
  height: 100vh;
  background-color: var(--text-backcolor-head);
}

.header-head-text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color-head);
  margin-top: 54px;
  margin-bottom: 100%;
}

.header-title-text {
  color: var(--color-text);
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  padding-top: 52px;
}

section:first-child > .header-title-text {
  padding-top: 31px;
}

.header-l-title-text {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color-head);
  background-color: var(--color);
  margin-top: 19px;
}

.header-title-name, .header-title-name-center, .header-title-galery {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color-head);
  background-color: var(--color);
  margin-top: 18px;
}

.header-title-galery {
  margin-top: 50px;
}

.header-text, .header-text-center {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  margin-top: 11px;
}

.link {
  text-shadow: 2px 2px 0 var(--color);
  text-decoration: none;
}

.link:hover {
  border-bottom: var(--text-color) 1.5px solid;
  border-spacing: 20px;
}

.link:focus-visible {
  outline: none;
  border-top: var(--text-color) 1px solid;
  border-bottom: var(--text-color) 1px solid;
  border-right: var(--text-color) 1px solid;
  border-left: var(--text-color) 1px solid;
}

.galery {
  display: grid;
}

.img {
  max-width: 100%;
  margin-top: 10px;
  object-fit: cover;
}

.footer__title {
  margin-top: 288px;
  text-shadow: 2px 2px 0 var(--color);

  justify-self: center;
}

@media (min-width: 768px) {
  .header__theme-menu {
    margin-top: 154px;
  }

  .header__title {
    margin-top: 172px;
    margin-left: -20px;
  }

  .header-title-name {
    margin-top: 21px;
  }

  .button {
    margin-top: 14px;
  }

  .header-title-galery {
    margin-top: 81px;
  }

  .header-l-title-text {
    margin-top: 20px;
  }

  .header-head-text {
    margin-top: 163px;
    margin-left: 50%;
  }

  section:first-child > .header-title-text {
    padding-top: 40px;
    max-width: 100%;
  }

  section:last-child > .header-title-text {
    max-width: 100%;
    padding-top: 10px;
  }

  .header-text {
    margin-top: 10px;
  }

  .corners::after {
    inset: auto auto 20px 20px;
  }

  .corners::before {
    inset: 20px 20px auto auto;
  }

  .rec {
    inset: 20px 20px auto auto;
  }

  .header, main, .footer {
    padding: 20px;
  }

  .header__title, .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .footer {
    margin-top: 35px;
  }

  .footer__title {
    margin-top: 449px;
  }

  .header-title-box {
    margin-top: 4%;
  }

  section:nth-child(2) .header-title-text {
    max-width: 32%;
    padding-top: 80px;
  }

  .header-title-text {
    padding-top: 81px;
  }

  .header-title-name-center {
    margin-top: 19px;
  }

  .header-text-center {
    margin-top: 10px;
  }

  .grid-text {
    display: grid;
    grid-template-columns: 32% auto;
    column-gap: 23px;
  }

  .grid-text-content {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }

  .galery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "img1 img1 img2"
      "img4 img3 img2"
      "img4 img5 img5"
      "img4 img5 img5";
    column-gap: 20px;
    row-gap: 20px;
    overflow: hidden;
    margin-top: 15px;
  }

  .img {
    min-height: 100%;
    margin-top: 2px;
  }

  .img-sun {
    grid-area: img1;
  }

  .img-ice {
    grid-area: img2;
  }

  .img-books {
    grid-area: img3;
  }

  .img-tape {
    grid-area: img4;
  }

  .img-street {
    grid-area: img5;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    margin-top: 0;
  }

  .header__title {
    margin-top: 291px;
    margin-left: -20px;
  }

  .header-title-galery {
    margin-top: 79px;
  }

  .button {
    margin-left: 0;
    margin-top: 0;
  }

  .footer__title {
    margin-top: 320px;
  }

  .header-head-text {
    margin-top: 130px;
  }

  .header::after {
    margin-top: calc(12% - 29px);
  }

  .header-l-title-text {
    margin-top: 21px;
  }

  .l-title-box {
    margin-top: 2px;
  }

  .header-title-box {
    margin-top: 26px;
  }

  .header-title-name {
    margin-top: 17px;
  }

  .header-text {
    margin-top: 9px;
  }

  .grid-text {
    column-gap: 21px;
  }

  .grid-center-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .header-text-center {
    margin-top: 3%;
  }

  .header-title-name-center {
    margin-top: 7%;
  }

  .header-title-text {
    padding-top: 83px;
  }

  .footer::after {
    margin-top: 0;
  }

  .footer::before {
    margin-top: 1px;
  }

  .grid-button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    justify-self: center;
  }

  .footer {
    margin-top: 37px;
  }
}