:root {
  --rec: 1;
  --hover-button: #FF007066;
  --color: #FF0070;
  --color-text: #FF0070;
  --color-button: #FF0070;
  --cr-active-button: #FF0070;
  --text-color-title: #DB00FF;
  --image: url(/images/cover-image-dark.png);
  --text-color-head: #000028;
  --text-color: #F1B2CE;
  --text-backcolor-head: #000028;
}
